.profile {
  margin: 50px;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 12px;
  box-shadow: 0 5px 7px -1px rgba(75, 75, 75, 0.651);
}

.description {
  text-align: center;
  width: 250px;
  padding: 30px;
}

.avatar {
  width: 250px;
  border-radius: 50%;
}

.name {
  font-size: 30px;
  font-weight: 500;
  margin: 15px;
}

.tag {
  color: rgb(141, 141, 141);
}

.location {
  color: rgb(141, 141, 141);
}

.stats {
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f3f6f9;
  border-top: 1px solid rgb(227, 227, 227);
}

.item {
  text-align: center;
  padding: 20px;
  width: 100%;
  list-style: none;
}

.item:not(:last-child) {
  border-right: 1px solid rgb(227, 227, 227);
}

.label {
  display: block;
  color: rgb(123, 123, 123);
  font-weight: 500;
  margin-bottom: 5px;
}

.quantity {
  font-size: 18px;
  font-weight: 700;
  display: block;
}
