.transactionHistory {
  margin: 50px;
  width: 400px;
  text-align: center;
  box-shadow: 0 5px 7px -1px rgba(75, 75, 75, 0.651);
  border-collapse: collapse;
}

.head {
  background-color: rgb(87, 135, 223);
  color: white;
  text-transform: uppercase;
}

.th {
  padding: 10px;
  border: 2px solid rgb(194, 194, 194);
}

.td {
  padding: 10px;
  border: 2px solid rgb(194, 194, 194);
  color: black;
}

.tr:nth-child(2n) {
  background-color: rgb(234, 234, 234);
}
